body {
    background: $color-light-green;
    font-family: $font-family-default;
    min-height: 100%;
    line-height: $font-line-height;
}

a {
    color: $color-red;
    &:hover {
        color: $color-light-blue;
        transition: color .2s;
    }
    &:visited {
        color: $color-dark-blue;
    }
}

ul {
    list-style-position: inside;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1D3557;
    font-family: $font-family-headers;
}

blockquote,
p {
    font-size: modular-scale(0);
}

h6 {
    font-size: modular-scale(0);
}

h5 {
    font-size: modular-scale(1);
}

h4 {
    font-size: modular-scale(2);
}

h3 {
    font-size: modular-scale(3);
}

h2 {
    font-size: modular-scale(4);
}

h1 {
    font-size: modular-scale(5);
}
