.l-header {
    background: $color-dark-green;
}

.l-header__title {
    margin: ms(0) 0 0;
    text-align: center;
}

.l-header__call-out {
    font-style: italic;
    font-size: ms(1);
    margin: ms(-1) 0 0;
    text-align: center;
}
