.nav {
    &__list {
      border: 1px solid $color-dark-blue;
      border-width: 1px 0;
      list-style-type: none;
      padding: 0;
      margin: ms(2) 0;
      text-align: center;
    }

    &__item {
       display: inline;
    }

    &__link {
      display: inline-block;
      padding: ms(-4);
      text-decoration: none;

      &:hover {
          background: #457B9D;
          @include transition(all .2s);
      }
    }
}
